* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Adamina", serif;
}


.contaner-of-all {
    padding: 32px;
    display: flex;
}

.contaner-of-form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in-form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 36px;
    margin-bottom: 16px;
    font-size: medium;
    color: #0c1421;
}

p {
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 400;
    font-size: small;
    color: #313957;
}

label {
    margin-bottom: 8px;
    margin-top: 16px;
    font-size: small;
    color: #0c1421;
}

input {
    width: 100%;
    height: 42px;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid #D4D7E3;
    background-color: #F7FBFF;
}

a {
    text-align: right;
    text-decoration: none;
    font-size: small;
    margin: 12px 0px;
}

.sign-in {
    width: 100%;
    height: 44px;
    margin-bottom: 32px;
    border-radius: 12px;
    background-color: #162D3A;
    color: #ffffff;
}

.sec-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 100%;
    height: 52px;
    font-size: 16px;
    padding: 12px 9px;
    margin-bottom: 16px;
    border-radius: 12px;
    border: none;
    background-color: #F3F9FA;
}

.or-div {
    display: flex;
    justify-content: center;
}

.or {
    font-size: 16px;
    font-weight: 400;
    line-height: 2px;
    margin-bottom: 32px;
    color: #294957;
}

.line {
    width: 167px;
    height: 2px;
    background-color: #CFDFE2;
    margin-right: 8px;
}

.line-2 {
    width: 167px;
    height: 2px;
    background-color: #CFDFE2;
    margin-left: 8px;
}

.Google {
    width: 28px;
    height: 28px;
    background-image: url("Google.png");
}

.Facebook {
    width: 28px;
    height: 28px;
    background-image: url("Facebook.png")
}

.end-q {
    margin-top: 8px;
    text-align: center;
}

.flower-img {
    width: 50%;
}

img {
    width: 100%;
    border-radius: 24px;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 1000px) {

    .contaner-of-all {
        flex-direction: column-reverse;
        gap: 24px;
        padding: 24px;
    }
    .contaner-of-form {
        width: 100%;
    }
    .log-in-form {
        width: 100%;
    }
    .flower-img {
        width: 100%;
    }
    img {
        width: 100%;
        height: 180px;
        border-radius: 20px;
        object-fit: none;
        object-position: center;
    }
  
}

/* @media  need 4k ?*/