* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Adamina", serif;

}
body{}

.contaner-of-all {
    max-width: 1728px;
    height: 1140px;
    padding: 32px;
    display: flex;
    gap: 32px;
}

.contaner-of-form {
    width: 816px;
    height: 1076px;

}

.log-in-form {
    width: 388px;
    height: 763px;
    margin: 156.5px 214px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 32px;
    color: #0c1421;
}

p {
    margin-bottom: 48px;
    font-size: 18px;
    font-weight: 400;
    color: #313957;
}

label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #0c1421;
}

input {
    margin-bottom: 24px;
    padding: 12px;
    width: 388px;
    height: 48px;
    background-color: #F7FBFF;
    border: 1px solid #D4D7E3;
    border-radius: 12px;
}

a {
    text-align: right;
    text-decoration: none;
    margin-bottom: 24px;
}

.sign-in {
    width: 100%;
    height: 52px;
    margin-bottom: 48px;
    border-radius: 12px;
    text-align: center;
    background-color: #162D3A;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}

.or-div {
    display: flex;
    justify-content: center;
}

.or {
    font-size: 16px;
    font-weight: 400;
    line-height: 2px;
    margin-bottom: 42px;
    color: #294957;
}

.line {
    width: 167px;
    height: 2px;
    background-color: #CFDFE2;
    margin-right: 8px;
}

.line-2 {
    width: 167px;
    height: 2px;
    background-color: #CFDFE2;
    margin-left: 8px;
}

.Google{
    width: 30px;
    aspect-ratio: 1/1;
    background-image: url('Google.png');
    position:absolute;
    top: 746px;
    left: 330px;
}

.Facebook{
    width: 30px;
    aspect-ratio: 1/1;
    background-image: url('Facebook.png');
    position:absolute;
    top: 814px;
    left: 320px;
}

.sec-btn {
    width: 100%;
    height: 52px;
    border-radius: 12px;
    padding: 12px 9px 12px 9px;
    margin-bottom: 16px;
    background-color: #F3F9FA;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.end-q {
    margin-top: 32px;
    text-align: center;
    font-weight: 400;
}

.flower-img {

    width: 816px;
    height: 1076px;
    /* background-image: url('Login Art.jpg'); */
}

img {
   

}

@media screen and (max-width: 769px) {
    .contaner-of-all{
        flex-direction: column-reverse;
        width: 436px;
        height: 855px;

    }
    .flower-img {
        width: 436px;
        height: 180px;
        padding: 0px 24px;
    }
}